#map {
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    width: 80%;
    height: 320px;
  }
  
  /* .geocoder-control-input {
    position: relative;
  }
  
  .geocoder-control-suggestions {
    margin-top: -20px;
    position: relative;
  } */
